@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --jdmenu-bg-color: rgb(74,74,86);
    --jdmenu-border-color: rgb(0,0,0);
    --jdmenu-focus-color: rgb(65,65,77);
    --jdmenu-shortcut-color:; /* Also for disabled items */
    --jdmenu-font-size: 15px;
    --jdmenu-font-family: Helvetica;
    --jdmenu-font-color: rgb(255,255,255);
}